<div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p><img class="img-circle img-thumbnail" src="{{site.baseurl}}/assets/images/client/liam.png" alt=""></p>
                                <h4>Liam S.</h4>
                                <small>Business Owner </small>
                                <p>Brilliant! Thank yo so much! You’ve been most helpful, and I am very happy with the Design/development and your service! Thank you again!</p>
                            </div>
                            <div class="item">
                                <p><img class="img-circle img-thumbnail" src="{{site.baseurl}}/assets/images/client/Tomasz.jpg" alt=""></p>
                                <h4>Thomasz J.</h4>
                                <small>Business Owner</small>
                                <p>Thank you very much for my website absolutely great service from start to finish, definitely recommend and will use again.</p>
                            </div>
                            <div class="item">
                                <p><img class="img-circle img-thumbnail" src="{{site.baseurl}}/assets/images/client/Jamie.png" alt=""></p>
                                <h4>Jamie M.</h4>
                                <small>Beautiy & Makeup Specialist</small>
                                <p>I am EXTREMELY pleased with my website. It is user friendly and exactly as I instructed it to be. All my questions and queries were answered on time. And Vicarius was fast also. You will not regret their service as its A1.</p>
                            </div>
                            <div class="item">
                                <p><img class="img-circle img-thumbnail" src="{{site.baseurl}}/assets/images/client/clay.jpg" alt=""></p>
                                <h4>Bosko P.</h4>
                                <small>Business Owner</small>
                                <p>Shiv is a good, honest and hard working professional and i thoroughly recommend you use him for your new website development.</p>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div class="btns">
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                <span class="fa fa-angle-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                <span class="fa fa-angle-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>