<div class="container-fluid">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Ninja Works</h2>
                
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All Works</a></li>
                    <li><a href="#" data-filter=".eCommerce">eCommerce</a></li>
                    <li><a href="#" data-filter=".corporate">Creative/Corporate</a></li>
                    <li><a href="#" data-filter=".custom">Custom/Scratch</a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
               
                    <div class="portfolio-item eCommerce">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/zeeandco-co-uk.jpg" alt="">
                            <div class="portfolio-info">
                                <h3>View</h3>
                                <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/zeeandco-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item eCommerce">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/ariachairs.jpg" alt="">
                             <div class="portfolio-info">
                                <h3>View</h3>
                                <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/ariachairs.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item eCommerce">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/characterfancydress-co-uk.jpg" alt="">
                            <div class="portfolio-info">
                                <h3>View</h3>
                                <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/characterfancydress-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item eCommerce">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/basicslife.jpg" alt="">
                            <div class="portfolio-info">
                                <h3>View</h3>
                                <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/basicslife.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/lynnkwagner.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/lynnkwagner.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/smartheartworkshops-co-uk.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/smartheartworkshops-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/boomtrain.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/boomtrain.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/brandrefinery-co-uk.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/brandrefinery-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item custom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/latofieldsestate.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/latofieldsestate.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item custom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/nuvoplumbing-co-uk.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/nuvoplumbing-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item custom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/jesslacey.jpg" alt="">
                        <div class="portfolio-info">
                           <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/jesslacey.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
                <div class="portfolio-item custom">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="{{site.baseurl}}/assets/images/portfolio/eatinglondontours-co-uk.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>View</h3>
                            <a class="preview" href="{{site.baseurl}}/assets/images/portfolio/eatinglondontours-co-uk.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->