<div class="container-fluid">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Ninja Services</h2>
                
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-language"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">UX & UI design</h4>
                                <p>We are creative <strong>UX/UI designer</strong> with 8+ years of global experience. Offering <strong>handcrafted web elements, pixel-perfect design, responsive and tailored design</strong> which makes your product/web page stand out from the crowd. Our design services include for Android / iOS App and Web site.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">CMS Website Design</h4>
                                <p>We use <strong>Wordpress and October CMS</strong> as they gives us endless possibilities to create exactly what we want, whilst being modern, professional, clean and function flawlessly. You don't need any coding knoweldge post development and you can add/edit/update your website content and information easily.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">CMS eCommerce Design & Development</h4>
                                <p>We Design Bespoke, fully featured, Responsive eCommerce website using <strong>Magento, Shopify, Prestashop and Woocommerce CMS </strong>for all type of business owners who want to get an online shop. We expertise in these CMS to customize and create functional extension and plugins to meet your business requirement.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Website & WebApp Development from Scratch</h4>
                                <p >We provide cutting-edge, Unique, High quality, Fully working Website & WebApp development services to help your business operational, more efficient, collaborative and manageable from scratch using <strong>PHP, Laravel Framework, Yii Framework, Node.js, Express.js. Angular.js, Jquery </strong>are named few.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Android & IOS App Development</h4>
                                <p>We provide beautiful and well thought, high-performance, cutting-edge and Bespoke mobile apps design and development that Take your business ideas to a new level. We expertise in <strong>Android and IOS Design, Web Apps, automated Web Push Notifications, Accelerated Mobile Pages and native apps</strong> using Android Studio, Phonegap, Swift and IONIC technologies.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-code"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">REST API Design</h4>
                                <p>We develop <strong>completely secure, high-performance and scalable REST API</strong> using Lumen(PHP and Laravel framework) and Node.js technology which handle a JSON/XML data between your server and Application. We can also integrate popular third party API into your website and app such as <strong>PayPal API, Twallio SMS API, 2CHECKOUT, STRIPE EBAY, AMAZON API</strong> etc.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-puzzle-piece"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Amazon Web Services & Consultancy</h4>
                                <p>We provide Amazon Web Services and consultantion where we can host your blog, website, ecommerce site or REST Api hosting. We will take care of <strong>configuration and setting up EC2 (for web server) and RDS (for MySQL hosted database) instances , LEMP (nginx + php-fpm or HHVM) server and installation of services.</strong></p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                        
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-share-alt"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">SEO & SEM Consultantancy</h4>
                                <p>We will make your website search engine friendly and fully optimize your complete website using advanced white hat SEO methodology. Our services include <strong>complete Website SEO Health Check, On Page Optimization, Social Media Marketing, Local SEO Optimization and Content Marketing & Link Building.</strong> </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-smile-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">VR/AR/3D Gaming Development</h4>
                                <p>We are an experienced team of <strong>3D/2D graphic designers, Animators, game programmers for Virtual Reality App, Augmented Reality App and 2D/3D Gaming design and development</strong>. We Expertise in Unity & Real Engine and have working experience to build the projects using Google Card Board, HTC Vive, Oculus Rift, Gear VR, Kinect, Razor Hydra devices.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->