<div class="owl-carousel">
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-Website-Design-and-development-services.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Our <span>Creative Ninjas</span> help you to Redefine your Web Presence.</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-eCommerce-website-Design-and-development-services.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>eCommerce Design</span> that Bring your business to the Next Level.</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-Mobile-App-Design.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Bring More value to Your business with Ninja Mobile App Design.</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-Api-Design.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>We turn your business Logic into secure API.</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-Mobile-Virtual-Reality-App-Design.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>Our Creative Ninjas will turn your ideas into reality</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/Ninja-Augmented-Reality-App-Design.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>We Augment your imagination into Reality</h2>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->