<!DOCTYPE html>
<html lang="en">
{% partial "meta" %}


<body id="home" class="homepage">

<header id="header">
    {% partial "nav" %}
</header><!--/header-->

<section id="content">
    <div class="jumbotron">
        <div class="container">
            <h1>{{ this.page.title }}</h1>
            <p>{{ this.page.description }}</p>
        </div>
    </div>
    {% page %}
</section>


<footer id="footer">
    {% partial "footer" %}
</footer><!--/#footer-->

    
    <script type="text/javascript" src="{{ 'assets/compiled/js/all.js'|theme }}"></script>

{% framework extras %}
{% scripts %}

</body>
</html>